/*---------------------------------------------------------------------
    File Name: style.css
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****----------------------------------------
     1) font-family: 'Rajdhani', sans-serif;  
     2) font-family: 'Poppins', sans-serif; 
----------------------------------------*****/


/*---------------------------------------------------------------------
    import Files
---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*---------------------------------------------------------------------
    skeleton
---------------------------------------------------------------------*/

* {
	box-sizing: border-box !important;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #666666;
	font-size: 14px;
	font-family: 'poppins', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
}

a {
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px 0;
	font-weight: normal;
	line-height: normal;
	color: #111111;
	margin: 0
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 22px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 14px
}

h6 {
	font-size: 13px
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #212121;
	text-decoration: none!important;
	opacity: 1
}

button:focus {
	outline: none;
}

ul,
li,
ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p {
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
}

a {
	color: #222222;
	text-decoration: none;
	outline: none !important;
}

a,
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

:focus {
	outline: 0;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent !important;
	border: 2px solid #ddd;
	padding: 12px 40px;
	font-size: 16px;
}

.lead {
	font-size: 18px;
	line-height: 30px;
	color: #767676;
	margin: 0;
	padding: 0;
}

.form-control:focus {
	border-color: #ffffff !important;
	box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
	border: none !important;
}

.badge {
	font-weight: 500;
}

blockquote {
	margin: 20px 0 20px;
	padding: 30px;
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.full {
	float: left;
	width: 100%;
}

.layout_padding {
	padding-top: 90px;
	padding-bottom: 90px;
}

.layout_padding_2 {
	padding-top: 75px;
	padding-bottom: 75px;
}

.light_silver {
	background: #f9f9f9;
}

.theme_bg {
	background: #38c8a8;
}

.margin_top_30 {
	margin-top: 30px !important;
}

.full {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}


/**-- heading section --**/

.main_heading {
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 50px;
}

.main_heading h2 {
	padding: 0;
	font-size: 48px;
	line-height: 60px;
	font-weight: 400;
	position: relative;
	letter-spacing: -0.5px;
	color: #114c7d;
	border-left: solid #38c8a8 10px;
	padding-left: 15px;
}

.main_heading h2 strong {
	background: #38c8a8;
	color: #fff;
	font-weight: 600;
	padding: 0 15px;
	line-height: 68px;
}

.white_heading_main h2 {
	color: #fff;
}

.small_main_heading {
	margin-top: 25px;
	float: left;
	width: 100%;
	border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
	margin-bottom: 25px;
}

.small_main_heading h2 {
	padding: 2px 0 20px 0;
	color: #114c7d;
	font-weight: 400;
	font-size: 28px;
	background-image: url('../assets/images/fevicon.png');
	background-repeat: no-repeat;
	padding-left: 55px;
	letter-spacing: -0.5px;
}

.small_main_heading h2 strong {
	color: #38c8a8;
	font-weight: 600;
}

.main_bt {
	background: #000;
	color: #fff;
	padding: 10px 60px 10px 60px;
	float: left;
	font-size: 15px;
	font-weight: 400;
	border: solid #000 5px;
	border-radius: 0;
	margin-right: 30px;
}

a.readmore_bt {
	color: #fff;
	font-weight: 300;
	text-decoration: underline !important;
}

.main_bt:hover,
.main_bt:focus {
	background: #ad2101;
	border: solid #ad2101 5px;
	color: #fff;
}


/**-- list icon --**/

.ul_list_info_icon ul {
	list-style: none;
}

.ul_list_info_icon ul li {
	display: inline;
	float: left;
	width: 100%;
}

.ul_list_info_icon ul li img {
	width: 75px;
}


/*----------------------------
    preloader area
----------------------------*/

.loader_bg {
	position: fixed;
	z-index: 9999999;
	background: #fff;
	width: 100%;
	height: 100%;
}

.loader {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader img {
	width: 280px;
}


/*----------------------------
    scroll to top area
----------------------------*/

.scrollup {
	float: right;
	position: absolute;
	color: #fff;
	right: 20px;
	padding: 0px 5px;
	text-transform: uppercase;
	font-weight: 600;
	background: #38c8a8;
	position: fixed;
	bottom: 20px;
	z-index: 99;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 0px;
	opacity: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;
	-webkit-transition: .2s all ease;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	line-height: 48px;
	font-size: 16px;
}

.scrollup.b-show_scrollBut {
	opacity: 1;
	visibility: visible;
}

.top_awro {
	background: #ee4a79 none repeat scroll 0 0;
	cursor: pointer;
	padding: 6px 8px;
	position: fixed;
	bottom: 59px;
	right: 20px;
	display: none;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	transition: all 0.5s ease;
}

.sale_pro {
	background: #f25252 !important;
}

.margin_top_50 {
	margin-top: 50px;
}

.margin_bottom_30_all {
	margin-bottom: 30px;
}

.text_align_center {
	text-align: center;
}


/*---------------------------------------------------------------------
    header area
---------------------------------------------------------------------*/

.logo_section {
	text-align: center;
}

.logo {
	float: left;
	size: 0px;
}

nav.main-menu {
	float: right;
	margin-left: 0;
}

.menu-area-main li:hover a,
.menu-area-main li:focus a {
	color: #000;
}

.menu-area-main li.active a {
	color: #000;
}

.right_cart_section {
	float: right;
	width: auto;
}

.right_cart_section ul {
	float: left;
	min-height: auto;
	margin: 0;
	padding: 12px 0 0;
}

.right_cart_section .cart_icons {
	padding: 18px 0 0;
}

.main-menu ul>li nth:child(5) a {
	padding-right: 0px;
}

.right_cart_section ul li {
	float: left;
	font-size: 17px;
	font-weight: 400;
	color: #fff;
	margin-right: 30px;
}

.right_cart_section ul.cart_update li {
	font-size: 13px;
	color: #ccc;
	line-height: normal;
	margin: 0;
	font-weight: 300;
}

.right_cart_section ul.cart_update li span {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 21px;
}

.right_cart_section ul li i {
	margin-right: 10px;
	margin-top: 5px;
	float: left;
	color: #fff;
	font-size: 21px;
}

.right_cart_section ul li a {
	color: #fff;
}


/*-- end header middle --*/

.top-bar-info {
	background: #111111;
	padding: 5px 0px;
}

.top-menu-left {
	float: left;
}

.top-menu-left li {
	position: relative;
	display: inline-block;
	margin-right: 11px;
	padding-right: 12px;
}

.top-menu-left li::before {
	content: '';
	position: absolute;
	right: 0;
	top: 9px;
	height: 10px;
	border-right: 1px dotted #999;
}

.top-menu-left li:last-child::before {
	display: none;
}

.top-menu-left li:last-child {
	padding: 0px;
	margin: 0px;
}

.top-menu-left li a {
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}

.top-menu-left li a:hover {
	color: #38c8a8;
}

.right-dropdown-language {
	float: right;
	margin-left: 12px;
}

.dropdown-bar .dropdown-link {
	position: absolute;
	z-index: 1009;
	top: 40px;
	left: 0;
	right: auto;
	min-width: 50px;
	padding: 15px;
	background: #ffffff;
	list-style: none;
	border: 2px solid #38c8a8;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
	-o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
	transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
	text-align: left;
}

.dropdown-bar:hover .dropdown-link {
	opacity: 1;
	visibility: visible;
	top: 25px;
}

.dropdown-bar.right-dropdown-language>a::after {
	font-family: 'FontAwesome';
	content: "\f107";
	text-decoration: none;
	padding-left: 4px;
	color: #ffffff;
}

.right-dropdown-language>a {
	line-height: 10px;
	padding: 5px 5px;
	cursor: pointer;
}

.dropdown-bar .dropdown-link li a {
	color: #111111;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 0;
}

.dropdown-bar .dropdown-link li a:hover {
	color: #38c8a8;
}

.dropdown-bar .dropdown-link li a img {
	margin-right: 7px;
}

.dropdown-bar .dropdown-link li.active {
	font-weight: bold;
}

.right-dropdown-language .dropdown-link {
	min-width: 100px;
	padding: 7px 10px;
	color: #111111;
}

.dropdown-bar {
	position: relative;
	padding: 0 5px;
	font-size: 13px;
}

.dropdown-bar .dropdown-link.right-sd {
	left: auto;
	right: 0;
}

.right-dropdown-currency {
	float: right;
	margin-left: 12px;
}

.dropdown-bar.right-dropdown-currency>a::after {
	font-family: 'FontAwesome';
	content: "\f107";
	text-decoration: none;
	padding-left: 4px;
	color: #ffffff;
}

.right-dropdown-currency>a {
	line-height: 10px;
	padding: 5px 5px;
	cursor: pointer;
	color: #ffffff;
}

.right-dropdown-currency .dropdown-link {
	min-width: 100px;
	padding: 7px 10px;
	color: #111111;
}

.right-dropdown-currency .dropdown-link {
	min-width: 55px;
	padding: 7px 10px;
}

.right-dropdown-currency .dropdown-link li a span.symbol {
	margin-right: 7px;
}

#login-modal .modal-content {
	border-radius: 0px;
}

#login-modal .modal-content .modal-header {
	background: #38c8a8;
	border-radius: 0;
}

#login-modal .modal-content .modal-body .form-group input {
	background: #ffffff;
	border: 1px solid #c8c8c8;
	border-radius: 0px;
}

#login-modal .modal-content .modal-body .form-group input:focus {
	border: 1px solid #c8c8c8 !important;
}

#login-modal .modal-content form {
	margin-bottom: 10px;
}

.modal-title {
	padding: 0px;
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
}

.btn-template-outlined {
	background: #111111;
	color: #ffffff;
	border: none;
	border-radius: 0px;
}

.btn-template-outlined i {
	padding-right: 10px;
}

.text-muted {
	padding: 10px 0px;
}

.slogan-line {
	float: right;
	color: #ffffff;
	font-size: 13px;
}

.middle-area {
	padding: 30px 0px;
}

.header-search {
	padding: 3px 0px;
}

.header-search form {
	position: relative;
	-webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
}

.btn-group.bootstrap-select {
	position: absolute;
	left: 0px;
	top: 0px;
}

.header-search input {
	width: 100%;
	min-height: 45px;
	border-radius: 0px;
	border: none;
	padding-left: 15px;
	border: 1px solid #e0e7ed;
}

.header-search form .search-btn {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	color: #fff;
	font-size: 20px;
	padding: 4px 15px;
	border-radius: 0px;
	background-color: #38c8a8;
	cursor: pointer;
}

.header-search form .search-btn:hover {
	background: #111111;
}

.cart-box {
	float: right;
	margin-left: 10px;
	position: relative;
}

.cart-content-box {
	position: absolute;
	z-index: 1009;
	top: 40px;
	left: auto;
	right: 0;
	min-width: 250px;
	max-width: 250px;
	padding: 15px;
	background: #ffffff;
	list-style: none;
	border: 2px solid #38c8a8;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.cart-box:hover .cart-content-box {
	opacity: 1;
	visibility: visible;
	top: 100%;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.inner-cart {
	background: #38c8a8;
	border-radius: 2px;
	padding: 0px;
	color: #ffffff;
	position: relative;
	width: 40px;
	height: 40px;
	text-align: center;
}

.cart-box .inner-cart:hover {
	color: #ffffff;
}

.line-cart {
	float: left;
	line-height: 40px;
	margin-right: 9px;
}

.cart-box a {
	display: inline-block;
}

.cart-box a:hover {
	color: #38c8a8;
}

.cart-box a span.icon {
	background: #38c8a8;
	width: 30px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	position: relative;
	border-radius: 2px;
}

.cart-box a .p-up {
	position: absolute;
	right: -8px;
	top: -8px;
	line-height: initial;
	background: #38c8a8;
	padding: 3px;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	font-size: 12px;
	text-align: center;
	line-height: 10px;
}

.wish-box {
	float: right;
}

.wish-box a {
	display: inline-block;
}

.wish-box a:hover {
	color: #38c8a8;
}

.wish-box a span.icon {
	background: #38c8a8;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	position: relative;
	border-radius: 2px;
}

.wish-box a span.icon:hover {
	background: #111111;
}

.cart-content-right {
	padding: 5px 0px;
}

.cart-content-box .items {
	text-align: center;
}

.product-media {
	width: 60px;
	float: left;
	position: relative;
}

.cart-content-box .items:hover .product-media::before {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.product-media::before {
	position: absolute;
	content: '';
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #38c8a8;
	opacity: 0.4;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.cart-content-box .items .item .remove {
	position: absolute;
	right: 0px;
	top: 0px;
	background: #38c8a8;
	color: #ffffff;
	width: 20px;
	height: 20px;
	line-height: 18px;
	border-radius: 2px;
}

.cart-content-box .items .item {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e7ed;
	position: relative;
}

.cart-content-box .items .item .product-info {
	padding-top: 10px;
	padding-left: 71px;
	text-align: left;
}

.cart-content-box .items .item .remove:hover {
	background: #111111;
}

.subtotal {
	text-align: left;
	text-transform: capitalize;
	color: #38c8a8;
	font-weight: 500;
	margin-bottom: 15px;
}

.subtotal span {
	font-weight: bold;
	color: #111111;
	padding-left: 15px;
	float: right;
}

.actions .btn-process {
	padding: 5px 16px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border-radius: 2px;
	overflow: hidden;
}

.actions .btn-process:hover {
	color: #ffffff;
}

.line-cart {
	position: relative;
}

.wish-box a span.icon span {
	position: absolute;
	right: -8px;
	top: -8px;
	line-height: initial;
	background: #38c8a8;
	padding: 3px;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	font-size: 12px;
}

.main-menu {
	text-align: center;
}

.main-menu ul {
	margin: 0;
	list-style-type: none;
}

.main-menu ul>li {
	display: inline-block;
	position: relative;
}

.main-menu ul>li a {
	padding: 6px 25px 0 25px;	
	line-height: 20px;
	font-size: 17px;
	display: block;
	font-weight: 500;
	color: #fff;
}

.main-menu ul li:last-child a {
	padding-right: 0;
}

.sub-down li {
	background: #ffffff;
}

.main-menu ul>li .sub-down li a {
	color: #114c7d;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 12px 5px;
	position: relative;
	border-bottom: solid #eee 1px;
}

.main-menu ul>li .sub-down li a::before {}

.main-menu ul>li .sub-down li a:hover {
	color: #111111;
}

.main-menu ul>li .sub-down li a:hover::before {}

.main-menu ul li:first-child {
	margin-left: 0;
}

.main-menu ul>li>ul {
	opacity: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 240px;
	z-index: 999;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.main-menu>ul>li:hover>ul {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	visibility: visible;
	opacity: 1;
}

.main-menu ul>li>ul>li {
	margin: 0px;
	position: relative;
	display: block;
}

.main-menu ul>li>ul>li:hover>ul {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	visibility: visible;
	opacity: 1;
	left: 100%;
	top: 10px;
}

.main-menu ul>li>ul>li>a {
	background: none !important;
}

.mean-container .mean-nav {
	margin-top: 0px;
	position: absolute;
	top: 100%;
}

.main-menu ul>li {
	position: inherit;
	display: inline-block;
	vertical-align: middle;
}

.main-menu ul>li:nth-child(6) {
	padding-right: 0px;
}

.nav>li {
	position: inherit;
	display: inline-block;
	vertical-align: middle;
}

.megamenu .sub-down {
	max-width: 1140px;
	width: 100%;
	left: 0;
	margin: 0 auto;
	right: 0;
	padding: 15px 0px;
}

.sub-full {}

.simple-down {
	padding: 15px;
}

.megamenu-categories {
	padding: 10px 0px;
}

.sub-full.megamenu-categories li {
	display: block;
}

.megamenu .sub-full.megamenu-categories ol li a {
	padding: 5px 0px;
	font-size: 15px !important;
	font-weight: 500;
}

.sub-full.megamenu-categories ol li .category-title {
	padding: 15px 0px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.sub-full.megamenu-categories ol li .category-box a {
	padding: 5px 0px;
}

.menu-add {
	padding: 30px 15px;
}

.menu-add img {
	width: 100%;
}

.main-w img {
	width: 100%;
}

.women-box {
	position: relative;
}

.women-box::before {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.banner-up-text {
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
}

.text-a {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
}

.text-b {
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
	line-height: 30px;
	padding: 20px 0px;
}

.text-c {
	color: #ffffff;
	font-size: 31px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 30px;
	padding-bottom: 20px;
}

.megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
	background: #111111;
	color: #ffffff !important;
	display: inline-block;
	padding: 10px 16px;
	border-radius: 2px;
	overflow: hidden;
	font-size: 16px;
}

.sticky-wrapper .sticky-wrapper-header {
	z-index: 20 !important;
	background: #ffffff;
}

.is-sticky .sticky-wrapper-header .middle-area {
	padding: 10px 0px
}

.sticky-wrapper:not(.is-sticky) {
	height: auto !important;
}

.hover-btn {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: #111111;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hover-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #38c8a8;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	display: block !important;
}

.hover-btn:hover::before,
.hover-btn:focus::before,
.hover-btn:active::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.hover-btn:hover,
.hover-btn:focus,
.hover-btn:active {
	color: white;
	box-shadow: none;
}

.btn-secondary.focus,
.btn-secondary:focus {
	box-shadow: none;
}

.img-responsive {
	max-width: 100%;
}

.padding_right_15_inner {
	padding-right: 15px;
}

.padding_left_15_inner {
	padding-left: 15px;
}

.dark_bg {
	background: #114c7d;
}




/*---------------------------------------------------------------------
    layout new css 
---------------------------------------------------------------------*/

.header {
	background: #fc4311;
	padding: 40px 0px;
	padding-bottom: 35px;
}

.logo a {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	line-height: 40px;
}

.relative {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	bottom: 0;
}

.banner-main {
	position: relative;
}


.carousel-caption {	
    border-radius: 185px;
    padding: 2px 52px;

}

.banner-main .carousel-caption h1 {
	color: #fff;
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
	padding-top: 40px;
	text-shadow: 2px 2px #000000;
}

.banner-main .carousel-caption p {
	font-size: 17px;
	padding: 20px 0px 40px 0px;
	text-shadow: 2px 2px #000000;
	padding-top: 50px;
}

.banner-main .carousel-caption a {
	text-transform: uppercase;
	border: #da4207 solid 1px;
	background: #da4207;
	width: 196px;
	padding: 12px 0;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #fff;
}

.banner-main .carousel-caption a:hover {
	border: #fff solid 1px;
	background: #fff;
	color: #da4207;
	border-radius: 25px;
    transition: ease-in all 0.5s;
}

#myCarousel a.carousel-control-next {
	position: absolute;
	top: 40% !important;
	left: inherit !important;
	right: -22px !important;
	width: 70px;
	height: 70px;
	border-radius: 35px;
}


#myCarousel a.carousel-control-prev {
	position: absolute;
	top: 40% !important;
	left: -22px !important;
	width: 70px;
	height: 70px;
	border-radius: 35px;
}


.bottom_arrow_scroll {
margin: 0 auto;
margin-bottom: 0px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 70px;
height: 70px;
margin-bottom: -35px;
z-index: 999;

}



/** download section **/

.gallery {
	padding-top: 90px;
	padding-bottom: 120px;
	background: #fff;
}

.gallery .titlepage {
	padding-bottom: 60px;
	text-align: center;
}

.gallery .titlepage span {
	color: #3d3c3c
}

.gallery .titlepage h2 {
	padding: 0px 0px 6px 0px;
font-size: 40px;
font-weight: bold;
color: #050303;
line-height: 46px;
margin-bottom: 0px;
margin-bottom: 20px;
border-bottom: #fc4311 solid 1px;
width: 242px;
margin: 0 auto;
margin-bottom: 0px;
margin-bottom: 20px;
}

.carousel-item {
	text-align: center;
}

.carousel-control-prev {
	left: inherit;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
	width: 55px;
	height: 55px;
	background: #000;
	opacity: 1;
	font-size: 30px;
	color: #fff;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
	background: #fc4311;
	color: #fff;
}

#main_slider a.carousel-control-prev {
	position: absolute;
	top: 40%;
}

#main_slider a.carousel-control-next {
	position: absolute;
	top: 40%;
}

.read-more {
	padding-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.read-more a {
	background: #000;
	width: 206px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	margin-top: -27px;
	transition: ease-in all 0.5s;
 
}

.read-more a:hover {
	background: #fc4311;
    border-radius: 25px;
    transition: ease-in all 0.5s;
}

.read-more {
	padding-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.read-more a {
	background: #000;
	width: 206px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	margin-top: -27px;
	transition: ease-in all 0.5s;
 
}

.read-more a:hover {
	background: #fc4311;
    border-radius: 25px;
    transition: ease-in all 0.5s;
}


/** end gallery section **/



/** khasiat section **/

.flexcss {
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: top;
   
}

.khasiat {
	padding-top: 90px;
	padding-bottom: 60px;
	background: #f4f4f4;
	margin-top: 90px;
}

.khasiat .titlepage span {
	color: #3d3c3c;
	font-size: 18px;
	
}

.khasiat .khasiat-box figure {
	margin: 0px;
}

.khasiat .khasiat-box figure img {
	width: 100%;
	border-radius: 20px;
}

.green {
	background-color: #6fb936;
}

.khasiat .khasiat-box .hoverle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
	transition: all 0.5s;
    border-radius: 20px;
}

.khasiat .khasiat-box .hoverle a {
	padding: 5px 30px;
	color: #fffefe;
    font-size: 20px;
	text-shadow: 1px 1px #000000;
}

.khasiat .titlepage {
	text-align: center;
	padding-bottom: 50px;
}

.khasiat .titlepage h2 {
	padding: 0px 0px 6px 0px;
	font-size: 40px;
	font-weight: bold;
	color: #fc4311;
	line-height: 46px;
	border-bottom: #fc4311 solid 1px;
	width: 380px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 20px;
}

.khasiat .khasiat-box:hover .hoverle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	background: #fc431199;
	align-items: center;
	margin: 0 15px;
	border-radius: 20px;
	transition: all 0.5s;
}

.khasiat .khasiat-box:hover .hoverle a {
	border: #fff solid 1px;
	background: transparent;
	padding: 5px 30px;
	color: #fff;
	transition: all 0.5s;
}

#demo {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.thumb {
	margin-bottom: 30px;
}

.green {
	background-color: #6fb936;
}

.page-top {
	margin-top: 85px;
}

img.zoom {
	width: 100%;
	object-fit: cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}
.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.modal-header {
	border-bottom: none;
}

.modal-title {
	color: #000;
}

.modal-footer {
	display: none;
}

/** end khasiat section **/


/** konten section **/

.konten {
	padding: 90px 0px;
	background: #fff;
}

.top_layer {
	position: relative;
}

.top_layer::before {
	position: absolute;
	width: 100%;
	height: 50px;
	content: "";

	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	height: 500px;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	top: -180px;
}

.konten .titlepage {
	text-align: center;
	padding-bottom: 60px;
	padding-top: 10px;
}

.konten .titlepage h2 {
	padding: 0px 0px 6px 0px;
	font-size: 40px;
	font-weight: bold;
	color: #050303;
	line-height: 46px;
	border-bottom: #fc4311 solid 1px;
	width: 410px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 20px;
}

.konten .titlepage span {
	color: #3d3c3c;
	font-size: 17px;
	line-height: 30px;
}
.solo h2{
	font-size: 36px;
	text-transform: uppercase;
	line-height: 37px;
	padding-left: 570px;
	font-weight: 500;
}

.konten .konten-box {
	max-width: 650px;
	width: 100%;
	float: right;
	font-size: 17px;
	line-height: 29px;
}
.imgAdd{
	padding-top: 17px;
}
.konten .konten-box .read-more-text{
	font-weight:300;
}



.konten .konten-box p {
	font-size: 17px;
	line-height: 28px;
	
} 
.konten .konten-img figure {
	margin: 0;
	position: top;
	padding-top: 10px;
}
.konten .konten-img p{
	padding-top: 20px;
	text-align: justify;
	font-size:17px;
	line-height: 28px;
}
.konten .konten-img .p0{
	padding-top: 20px;
}

.read-more-container{
	display: flex;
	flex-direction: column;
	color: #111;
	text-align: justify;
}

.read-more-btn{
	color: rgb(57, 110, 246);
}
.read-more-text{
	display: none;
}
.read-more-text--show{
	display: inline;
}



.konten a {
text-transform: uppercase;
border: #000 solid 1px;
background: #000;
width: 206px;
padding: 15px 0;
font-weight: 500;
font-size: 17px;
line-height: 30px;
color: #fff;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;
margin-top: 50px;
 transition: ease-in all 0.5s;
}

.konten a:hover {
	border: #fc4311 solid 1px;
    background: #fc4311;
    border-radius: 25px;
    transition: ease-in all 0.5s;
}

/** end konten section **/




/** topJamu section **/

.topJamu {
     background-color: #fff;
     padding: 90px 0px;
}
.topJamu .titlepage {
     text-align: center;
}
.topJamu .titlepage h2 {
    padding: 0px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
    color: #0e0f10;
    line-height: 50px;
    display: inline-block;
    position: relative;
    border-bottom: #fc4311 solid 1px;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 0px;
	margin-bottom: 20px;
}
.topJamu .titlepage span {
     color: #0e0f10;
     font-size: 17px;
     line-height: 32px;
     display: inline-block;
     margin-bottom: 0px;
     display: block;
     margin-bottom: 60px;
}

.topJamu .topJamu-box {
    margin-bottom: 30px;
} 

.topJamu .blue h3 {
     background: #fff;
     color: #3498db;
     font-size: 36px;
     line-height: 100px;
     margin: 10px;
     padding: 2%;
     position: relative;
     text-align: center;
}
.topJamu .topJamu-box figure {
     margin: 0px;
}
.topJamu .topJamu-box figure span {
     top: 0;
     left: 0px;
     position: absolute;
     margin-left: 15px;
     background: #fc4311;
     padding: 10px 30px;
     color: #fff;
}
.topJamu .topJamu-box h3 {
	padding-top: 10px;;
     font-size: 20px;
     line-height: 30px;
}
.topJamu .topJamu-box p {
     font-size: 16px;
     line-height: 30px;
	 text-align: justify;
}
.topJamu .topJamu-box .travel {
     padding: 15px 0px;
}
.topJamu .topJamu-box .travel span {
     color: #fc4311;
     display: inline-block;
}
.topJamu .topJamu-box .travel p {
     float: right;
     padding-left: 15px;
}
.like {
     color: #fc4311;
}
.Comment {
     color: #fc4311;
}
.contact_form {
     background: #114c7d;
     padding: 45px;
}
.topJamu .container .topJamu-box .read-more {
	padding-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.topJamu .container .topJamu-box .read-more a {
	background: #000;
	width: 206px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	margin-top: -27px;
	transition: ease-in all 0.5s;
 
}

.topJamu .container .topJamu-box .read-more a:hover {
	background: #fc4311;
    border-radius: 25px;
    transition: ease-in all 0.5s;
}

.topJamu .container .topJamu-box .read-more {
	padding-top: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.topJamu .container .topJamu-box .read-more-kunyit {
	padding-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.topJamu .container .topJamu-box .read-more a {
	background: #000;
	width: 600px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	margin-top: -27px;
	transition: ease-in all 0.5s;
 
}

.topJamu .container .topJamu-box .read-more a:hover {
	background: #fc4311;
    border-radius: 20px;
    transition: ease-in all 0.5s;
}


/** end topJamu section **/


/* konten US SEC */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.sectionkonten{
	width: 100%;
	min-height: 100vh;
	background-color: #ddd;
	padding-top: 100px;
}
.containerkonten{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}


  /*--------------------------------------------------------------
  # Map
  --------------------------------------------------------------*/
  .map {
	padding: 0;
	margin-bottom: -10px;
  }
  
  .map iframe {
	width: 100%;
	height: 380px;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
	background: #ab3a20;
	padding: 30px 0;
	color: #fff;
	font-size: 14px;
  }
  
  #footer .copyright {
	text-align: center;
  }
  
  #footer .credits {
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	color: #fff;
  }

/*---------------------------------------------------------------------
    ener page css
---------------------------------------------------------------------*/

.konten-bg {
	background-color: #ad2100;
	margin-bottom: 90px;
}

.konten-bg .kontentitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}

.Currency-bg {
	background-color: #ad2100;
}

.Currency-bg .kontentitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}

.Request-bg {
	background-color: #ad2100;
}

.Request-bg .kontentitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}

.Team-bg {
	background-color: #ad2100;
}

.Team-bg .kontentitle h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 45px;
	padding: 40px 0;
	font-weight: 500;
	text-align: center;
}


/** slider arrow **/

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
	width: 62px;
	height: 60px;
	background: #fffdfd;
	opacity: 1;
	font-size: 30px;
	color: #000;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-prev:focus,
#myCarousel .carousel-control-next:focus {
	background: #fc4311;
	color: #fff;
}

#myCarousel a.carousel-control-prev {
	position: absolute;
	left: 82px;
	bottom: 10px;
	top: inherit;
}

#myCarousel a.carousel-control-next {
	position: absolute;
	left: 10px;
	top: inherit;
	bottom: 10px;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	height: 80px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	background: #fc4311;
  }
  
  #header.header-scrolled {
	background: #c33e1a;
	height: 60px;
  }
  
  #header .logo h1 {
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 0;
	font-weight: 700;
	letter-spacing: 1px;
  }
  
  #header .logo h1 a,
  #header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
	line-height: 0;
  }
  
  #header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
  }
  

  


  /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 20px 0;
	background-color: #eaa08b;
	min-height: 40px;
	margin-top: 80px;
  }
  
  .breadcrumbs h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
  }
  
  @media (max-width: 992px) {
	.breadcrumbs h2 {
	  margin: 0 0 10px 0;
	}
  }
  
  .breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
  }
  
  .breadcrumbs ol li+li {
	padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
	display: inline-block;
	padding-right: 10px;
	color: #6c757d;
	content: "/";
  }
  
  @media (max-width: 768px) {
	.breadcrumbs .d-flex {
	  display: block !important;
	}
  
	.breadcrumbs ol {
	  display: block;
	}
  
	.breadcrumbs ol li {
	  display: inline-block;
	}
  }

  


  /*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
	padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
	width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #70b9b0;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #70b9b0;
  }
  
  .portfolio-details .portfolio-info {
	padding: 30px;
	box-shadow: 0px 0 30px rgba(7, 56, 57, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
	margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
	padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
	padding-top: 20px;
	text-align: justify;
  }



  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #c33e1a;
	padding: 30px 0;
	color: #fff;
	font-size: 14px;
  }
  
  #footer .copyright {
	text-align: center;
  }
  
  #footer .credits {
	padding-top: 10px;
	text-align: center;
	font-size: 13px;
	color: #fff;
  }


  /*--------------------------------------------------------------
# Our Portfolio
--------------------------------------------------------------*/
.portfolio {
	padding: 60px 0;
  }
  
  .portfolio #portfolio-flters {
	padding: 0;
	margin: 0 0 35px 0;
	list-style: none;
	text-align: center;
  }
  
  .portfolio #portfolio-flters li {
	cursor: pointer;
	margin: 0 15px 15px 0;
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 20px;
	color: #777;
	border-radius: 4px;
	text-transform: uppercase;
	background: white;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
	background: #70b9b0;
	color: #fff;
  }
  
  .portfolio #portfolio-flters li:last-child {
	margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
	background: #073839;
	overflow: hidden;
	min-height: 200px;
	position: relative;
	border-radius: 4px;
	margin: 0 0 30px 0;
  }
  
  .portfolio .portfolio-wrap img {
	transition: all 0.3s ease-in-out;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
	opacity: 0;
	position: absolute;
	transition: all 0.3s linear;
	text-align: center;
	top: 10%;
	left: 0;
	right: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h3 {
	font-size: 22px;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h3 a {
	color: #fff;
	font-weight: bold;
  }
  
  .portfolio .portfolio-wrap .portfolio-info a i {
	color: #fff;
	font-size: 24px;
	transition: 0.3s;
	margin: 4px;
  }
  
  .portfolio .portfolio-wrap .portfolio-info a i:hover {
	color: #70b9b0;
  }
  
  .portfolio .portfolio-wrap:hover img {
	opacity: 0.4;
	transform: scale(1.1);
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
	opacity: 1;
	top: calc(50% - 30px);
  }

 